<!-- Nút thêm phòng mới -->
<button class="btn btn-primary btnAddNewRow" disabled style="cursor: not-allowed;" color="primary" (click)="addNewRow()">Thêm Chi Phí Hàng Tháng</button>
<button class="btn btn-warning btnSaveChange" (click)="saveChanges()">Lưu Thay Đổi</button>
<ag-grid-angular
  style="width: 100%; height: 500px"
  class="ag-theme-quartz"
  [rowData]="rowData"
  [columnDefs]="colDefs"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [rowHeight]="50"
  [paginationPageSizeSelector]="paginationPageSizeSelector"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
