
.rag-green {
  background-color: #33cc3344;
}
.grid-container {
  height: 100%;
  margin: 0;
  padding: 0;
}
.btnAddNewRow,.btnSaveChange{
  margin-bottom: 5px;
  margin-right: 5px;
}
.btnSaveChange{
  float: right;
}